{"openapi":"3.1.0","info":{"title":"스킨 서비스 API 명세서","description":"스킨 서비스 백엔드 API 문서입니다.","version":"1.0.0"},"servers":[{"url":"https://api.layerd.co.kr","description":"Generated server url"}],"tags":[{"name":"Routine","description":"루틴 추천 및 저장 관리"},{"name":"Product","description":"제품추천"},{"name":"Skin Test","description":"피부진단 / 온보딩"},{"name":"Profile","description":"사용자 프로필 조회"},{"name":"Auth","description":"인증 / JWT"},{"name":"User","description":"사용자 정보"}],"paths":{"/api/v1/users/logout":{"post":{"tags":["User"],"summary":"로그아웃","description":"로그아웃을 처리합니다. (클라이언트 측의 토큰 삭제와 병행 필요)","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/routines":{"get":{"tags":["Routine"],"summary":"루틴 목록 조회","description":"사용자가 저장한 루틴 이력을 커서 방식으로 조회","operationId":"getRoutines","parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoutineListResponse"}}}}}},"post":{"tags":["Routine"],"summary":"루틴 저장","description":"직전에 추천된 AM/PM 루틴 결과를 그대로 사용자의 루틴으로 저장","operationId":"saveRoutine","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveRoutineRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSaveRoutineResponse"}}}}}}},"/api/v1/results":{"get":{"tags":["Skin Test"],"summary":"내 진단 목록 조회","description":"사용자의 피부 진단 이력을 커서 방식으로 조회합니다.","operationId":"getSkinResults","parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSkinResultListResponse"}}}}}},"post":{"tags":["Skin Test"],"summary":"결과 DB 저장","description":"사용자의 진단 이력 저장합니다.","operationId":"saveResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSkinResultRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCreateSkinResultResponse"}}}}}}},"/api/v1/results/preview":{"post":{"tags":["Skin Test"],"summary":"성분 추천 미리보기","description":"미리보기 결과와 저장용 previewToken을 반환","operationId":"preview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkinTestPreviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSkinTestPreviewWithTokenResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth"],"summary":"AccessToken 재발급","operationId":"refreshToken","parameters":[{"name":"refreshToken","in":"cookie","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth"],"summary":"로그아웃","operationId":"logout_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/routines/{routineGroupId}":{"get":{"tags":["Routine"],"summary":"루틴 상세 조회","description":"선택한 루틴의 AM/PM 구성, 사용 순서, 추천 이유, 주의사항을 함께 조회","operationId":"getDetailRoutine","parameters":[{"name":"routineGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoutineDetailResponse"}}}}}},"delete":{"tags":["Routine"],"summary":"루틴 삭제","description":"선택한 루틴 기준으로 동일 그룹의 AM/PM 루틴과 하위 데이터를 함께 삭제","operationId":"deleteRoutine","parameters":[{"name":"routineGroupId","in":"path","description":"삭제할 루틴 대표 ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Routine"],"summary":"루틴 타이틀 수정","description":"사용자가 입력한 타이틀을 기반으로 새롭게 수정 업데이트","operationId":"updateRoutineName","parameters":[{"name":"routineGroupId","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRoutineRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUpdateRoutineResponse"}}}}}}},"/api/v1/users/me":{"get":{"tags":["User"],"summary":"마이페이지 요약 정보 조회","description":"사용자 정보, 최근 피부 진단 결과(4개), 최근 루틴(4개)을 조회합니다.","operationId":"getMyPage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMyPageResponse"}}}}}}},"/api/v1/surveys":{"get":{"tags":["Skin Test"],"summary":"설문 단계 조회","description":"특정 단계의 질문, 선택지 를 반환합니다.","operationId":"getSurvey","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSkinSurveyResponse"}}}}}}},"/api/v1/routines/recommendation":{"get":{"tags":["Routine"],"summary":"맞춤형 루틴 추천","description":"기준 피부 진단 결과를 기반으로 사용자의 AM/PM 루틴 미리보기 정보를 반환","operationId":"getRecommendation","parameters":[{"name":"skinResultId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoutineRecommendationWithTokenResponse"}}}}}}},"/api/v1/results/{resultId}":{"get":{"tags":["Skin Test"],"summary":"내 진단 조회","description":"로그인한 사용자의 최신 피부 진단 결과를 조회합니다.","operationId":"getMyResult","parameters":[{"name":"resultId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSkinTestResultResponse"}}}}}}},"/api/v1/profile":{"get":{"tags":["Profile"],"summary":"프로필 조회","operationId":"getProfile","parameters":[{"name":"skinResultId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSkinProfileResponse"}}}}}}},"/api/v1/products/{productId}":{"get":{"tags":["Product"],"summary":"제품 상세 조회","description":"특정 제품의 상세 정보와 포함 성분 정보를 조회합니다.","operationId":"getDetail","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductDetailResponse"}}}}}}},"/api/v1/products/search":{"get":{"tags":["Product"],"summary":"제품 검색","operationId":"search","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductSearchResponse"}}}}}}},"/api/v1/products/recommend":{"get":{"tags":["Product"],"summary":"추천 제품 조회","operationId":"recommend","parameters":[{"name":"categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"skinResultId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductListResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth"],"summary":"현재 사용자 조회","operationId":"getCurrentUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrentUserResponse"}}}}}}},"/api/v1/users":{"delete":{"tags":["User"],"summary":"회원 탈퇴","description":"사용자 계정상태를 Delete로 변경 처리합니다.","operationId":"withdraw","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"ApiResponseVoid":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"ErrorResult":{"type":"object","description":"에러 응답 정보","properties":{"code":{"type":"string","description":"업무/도메인 에러 코드","example":"USER_404"},"message":{"type":"string","description":"에러 메시지","example":"사용자를 찾을수 없습니다"},"fieldErrors":{"type":"array","description":"입력값 검증 실패 목록","items":{"$ref":"#/components/schemas/FieldValidationError"}}}},"FieldValidationError":{"type":"object","description":"필드 단위 검증 실패 정보","properties":{"filed":{"type":"string","description":"검증 실패 필드명","example":"nickname"},"rejectedValue":{"description":"잘못 들어온 값 "},"reason":{"type":"string","description":"검증 실패 사유","example":"닉네임은 필수입니다"}}},"SaveRoutineRequest":{"type":"object","description":"루틴 저장 요청","properties":{"title":{"type":"string","description":"사용자가 입력한 루틴 제목","example":"건조 피부 관리 루틴","minLength":1},"previewToken":{"type":"string","description":"루틴 미리보기 토큰","example":"3f8e4f3f-54d8-4a21-a20f-0fce8d2cc9a1","minLength":1}},"required":["previewToken","title"]},"ApiResponseSaveRoutineResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SaveRoutineResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"SaveRoutineResponse":{"type":"object","description":"루틴 저장 완료 응답","properties":{"routineGroupId":{"type":"integer","format":"int64","description":"저장된 루틴 그룹 ID","example":21},"title":{"type":"string","description":"저장된 루틴 제목","example":"민감 피부 데일리 루틴"}}},"AnswerDto":{"type":"object","description":"설문 문항 답변","properties":{"step":{"type":"integer","format":"int32","description":"설문 단계 번호","example":1,"minimum":1},"answer":{"type":"integer","format":"int32","description":"선택한 답변 값 (1~5)","example":5,"maximum":5,"minimum":1}},"required":["answer","step"]},"CreateSkinResultRequest":{"type":"object","description":"피부 진단 결과 생성 요청","properties":{"previewToken":{"type":"string","description":"미리보기 단계에서 발급받은 토큰","example":"3f8e4f3f-54d8-4a21-a20f-0fce8d2cc9a1"},"answers":{"type":"array","description":"문항별 답변 목록","items":{"$ref":"#/components/schemas/AnswerDto"}},"skinType":{"type":"string","description":"사용자 피부 타입 (설문 모드)","enum":["DRY","OILY","SENSITIVE","COMBINATION","UNKNOWN"],"example":"OILY"},"concerns":{"type":"array","description":"사용자 피부 고민 목록 (설문 모드)","example":["ACNE","SEBUM"],"items":{"type":"string","enum":["DRY","ACNE","PIGMENTATION","AGING","SENSITIVE","SEBUM","PORE"]}}}},"ApiResponseCreateSkinResultResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/CreateSkinResultResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"CreateSkinResultResponse":{"type":"object","description":"피부 진단 결과 생성 응답","properties":{"resultId":{"type":"integer","format":"int64","description":"저장된 피부 진단 결과 ID","example":12}}},"SkinTestPreviewRequest":{"type":"object","description":"피부 진단 미리보기 요청","properties":{"answers":{"type":"array","description":"문항별 답변 목록","example":[{"step":1,"answer":5},{"step":2,"answer":3}],"items":{"$ref":"#/components/schemas/AnswerDto"},"minItems":1},"skinType":{"type":"string","description":"사용자 피부 타입","enum":["DRY","OILY","SENSITIVE","COMBINATION","UNKNOWN"],"example":"OILY"},"concerns":{"type":"array","description":"사용자 피부 고민 목록","example":["ACNE","SEBUM"],"items":{"type":"string","enum":["DRY","ACNE","PIGMENTATION","AGING","SENSITIVE","SEBUM","PORE"]},"minItems":1}},"required":["answers","concerns","skinType"]},"ApiResponseSkinTestPreviewWithTokenResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SkinTestPreviewWithTokenResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"SkinTestPreviewResponse":{"type":"object","description":"피부 진단 미리보기 응답","properties":{"diagnosedDate":{"type":"string","description":"진단 날짜(프리뷰 시점 기준 오늘)","example":"2026-04-22"},"skinType":{"type":"string","description":"피부 유형명"},"subtitle":{"type":"string","description":"부제"},"summary":{"type":"string","description":"피부 설명"}}},"SkinTestPreviewWithTokenResponse":{"type":"object","description":"피부 진단 미리보기 응답","properties":{"preview":{"$ref":"#/components/schemas/SkinTestPreviewResponse","description":"미리보기 결과"},"previewToken":{"type":"string","description":"저장 시 사용하는 미리보기 토큰","example":"3f8e4f3f-54d8-4a21-a20f-0fce8d2cc9a1"}},"required":["preview"]},"UpdateRoutineRequest":{"type":"object","properties":{"title":{"type":"string","description":"사용자가 입력한 루틴 수정 제목","example":"건조 피부 관리 루틴","minLength":1}},"required":["title"]},"ApiResponseUpdateRoutineResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/UpdateRoutineResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"UpdateRoutineResponse":{"type":"object","description":"루틴 수정 완료 응답","properties":{"routineGroupId":{"type":"integer","format":"int64","description":"수정된 루틴 그룹 ID","example":21},"title":{"type":"string","description":"수정된 루틴 타이틀","example":"민감 피부 데일리 루틴"}}},"ApiResponseMyPageResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/MyPageResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"MyPageResponse":{"type":"object","description":"마이 페이지 응답","properties":{"user":{"$ref":"#/components/schemas/UserInfo","description":"사용자 정보","example":"이름 : 홍길동, 이메일 : example.gamil.com"},"skinResults":{"type":"array","description":"최근 피부 진단 결과 목록","example":"진단 상세 시간: 2026-04-03 14:30","items":{"$ref":"#/components/schemas/SkinResultSummary"}},"routine":{"$ref":"#/components/schemas/RoutineGroupSummary","description":"최근 루틴","example":"루틴명 : 아침 루틴, 루틴 생성 날짜: 2026-04-03"}}},"RoutineGroupSummary":{"type":"object","description":"루틴 요약 정보","properties":{"routineGroupId":{"type":"integer","format":"int64","description":"루틴 ID","example":10},"routineGroupTitle":{"type":"string","description":"루틴명","example":"아침 루틴"},"createdAt":{"type":"string","description":"루틴 생성 날짜","example":"2026-04-03"}}},"SkinResultSummary":{"type":"object","description":"피부 진단 결과 요약 정보","properties":{"resultId":{"type":"integer","format":"int64","description":"피부 진단 결과 ID","example":10},"diagnosedAt":{"type":"string","description":"진단 상세 시간","example":"2026-04-03 14:30"},"typeName":{"type":"string","description":"피부 유형","example":"촉촉한 수분 결핍형"}}},"UserInfo":{"type":"object","description":"사용자 정보","properties":{"name":{"type":"string","description":"사용자 이름","example":"홍길동"},"email":{"type":"string","description":"사용자 이메일","example":"example.gamil.com"},"profileImageUrl":{"type":"string","description":"사용자 프로필 이미지 URL","example":"https://example.com/profile.jpg"}}},"ApiResponseSkinSurveyResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SkinSurveyResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"SkinSurveyResponse":{"type":"object","description":"설문 전체 조회 응답","properties":{"questions":{"type":"array","description":"설문 전체 문항 목록","items":{"$ref":"#/components/schemas/SkinTestStepResponse","description":"설문 전체 문항 목록"}}}},"SkinTestQuestionOptionResponse":{"type":"object","description":"설문 선택지 정보","properties":{"optionNumber":{"type":"integer","format":"int32","description":"선택지 번호 프론트는 이 값을 기준으로 선택 상태를 관리","example":1},"content":{"type":"string","description":"사용자 화면에 노출할 선택지 문구","example":"매우 건조해요"},"code":{"type":"string","description":"선택지 코드값(14: 피부고민, 15: 피부타입). 1~13 단계는 null","example":"ACNE"}}},"SkinTestStepResponse":{"type":"object","description":"설문 단계 조회 응답","properties":{"step":{"type":"integer","format":"int32","description":"현재 조회한 설문 단계 번호","example":2},"question":{"type":"string","description":"현재 단계의 질문 문구","example":"오후가 되면 얼굴에 유분이 많이 올라오나요?"},"options":{"type":"array","description":"현재 단계에서 선택 가능한 선택지 목록","items":{"$ref":"#/components/schemas/SkinTestQuestionOptionResponse","description":"현재 단계에서 선택 가능한 선택지 목록"}}}},"ApiResponseRoutineListResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/RoutineListResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"RoutineListResponse":{"type":"object","description":"루틴 그룹 목록 조회 응답","properties":{"routines":{"type":"array","description":"조회된 루틴 그룹 목록","items":{"$ref":"#/components/schemas/RoutineSummaryResponse","description":"조회된 루틴 그룹 목록"}},"hasNext":{"type":"boolean","description":"다음 데이터 존재 여부","example":true},"nextCursor":{"type":"integer","format":"int64","description":"다음 조회에 사용할 커서","example":21}}},"RoutineSummaryResponse":{"type":"object","description":"루틴 그룹 목록에서 사용하는 요약 정보","properties":{"routineGroupId":{"type":"integer","format":"int64","description":"루틴 그룹 ID","example":21},"title":{"type":"string","description":"루틴 제목","example":"민감 피부 데일리 루틴"},"createdAt":{"type":"string","description":"생성 날짜","example":"2026-04-05"}}},"ApiResponseRoutineDetailResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/RoutineDetailResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"RoutineDetailResponse":{"type":"object","description":"루틴 그룹 상세 조회 응답","properties":{"routineGroupId":{"type":"integer","format":"int64","description":"루틴 그룹 ID","example":21},"skinResultId":{"type":"integer","format":"int64","description":"기준 피부 진단 결과 ID","example":7},"title":{"type":"string","description":"루틴 제목","example":"민감 피부 데일리 루틴"},"skinType":{"type":"string","description":"유형명","example":"촉촉한 수분 결핍형"},"subtitle":{"type":"string","description":"피부 타입 설명","example":"장벽까지 같이 약해진 상태예요."},"routineSummary":{"type":"string","description":"루틴 설명","example":"수분이 부족해지면 피부 장벽도 함께 약해져요. 보습제를 발라도 금방 건조해지는 이유가 바로 이 악순환 때문이에요. 수분을 채우면서 장벽을 복구하는 이중 케어가 필요해요."},"amRoutine":{"$ref":"#/components/schemas/RoutineSectionResponse","description":"AM 루틴 구성"},"pmRoutine":{"$ref":"#/components/schemas/RoutineSectionResponse","description":"PM 루틴 구성"},"createdAt":{"type":"string","description":"생성 상세 시간","example":"2026-04-05 14:30"}}},"RoutineRecommendedProductResponse":{"type":"object","description":"루틴 추천/상세에서 사용하는 제품 정보","properties":{"productId":{"type":"integer","format":"int64","description":"제품 ID","example":12},"name":{"type":"string","description":"제품명","example":"시카 진정 토너"},"price":{"type":"integer","format":"int32","description":"가격","example":"17,000"},"productCategory":{"type":"string","description":"상품 원래 카테고리","enum":["SKIN","TONER","LOTION","EMULSION","ESSENCE","SERUM","AMPOULE","CREAM","SUN_CARE"],"example":"TONER"},"imageUrl":{"type":"string","description":"제품 대표 이미지 URL","example":"https://cdn.example.com/products/12.png"},"routineStepCategory":{"type":"string","description":"루틴 단계 카테고리","enum":["PREPARE","INTENSIVE_CARE","MOISTURIZER","SUN_CARE"],"example":"MOISTURIZER"}}},"RoutineSectionResponse":{"type":"object","description":"AM 또는 PM 루틴 구성 정보","properties":{"routineType":{"type":"string","description":"루틴 타입","enum":["AM","PM"],"example":"AM"},"products":{"type":"array","description":"해당 루틴에 포함된 제품 목록","items":{"$ref":"#/components/schemas/RoutineRecommendedProductResponse","description":"해당 루틴에 포함된 제품 목록"}}}},"ApiResponseRoutineRecommendationWithTokenResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/RoutineRecommendationWithTokenResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"RoutineRecommendationResponse":{"type":"object","properties":{"skinResultId":{"type":"integer","format":"int64","description":"기준 피부 진단 결과 ID","example":7},"skinType":{"type":"string","description":"유형명","example":"촉촉한 수분 결핍형"},"subtitle":{"type":"string","description":"피부 타입 설명","example":"속은 건조한데 겉은 번들거려요."},"routineSummary":{"type":"string","description":"루틴 설명","example":"수분이 부족해지면 피부 장벽도 함께 약해져요. 보습제를 발라도 금방 건조해지는 이유가 바로 이 악순환 때문이에요. 수분을 채우면서 장벽을 복구하는 이중 케어가 필요해요."},"amRoutine":{"$ref":"#/components/schemas/RoutineSectionResponse","description":"AM 루틴 구성"},"pmRoutine":{"$ref":"#/components/schemas/RoutineSectionResponse","description":"PM 루틴 구성"}}},"RoutineRecommendationWithTokenResponse":{"type":"object","description":"루틴 추천 미리보기 응답","properties":{"recommendation":{"$ref":"#/components/schemas/RoutineRecommendationResponse","description":"루틴 추천 결과"},"previewToken":{"type":"string","description":"저장 시 사용하는 루틴 미리보기 토큰","example":"3f8e4f3f-54d8-4a21-a20f-0fce8d2cc9a1"}},"required":["recommendation"]},"ApiResponseSkinResultListResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SkinResultListResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"SkinResultListResponse":{"type":"object","description":"피부 진단 목록 조회 응답","properties":{"skinResults":{"type":"array","description":"조회된 피부 진단 결과 목록","items":{"$ref":"#/components/schemas/SkinResultSummary","description":"조회된 피부 진단 결과 목록"}},"hasNext":{"type":"boolean","description":"다음 데이터 존재 여부","example":true},"nextCursor":{"type":"integer","format":"int64","description":"다음 조회에 사용할 커서","example":21}}},"ApiResponseSkinTestResultResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SkinTestResultResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"IngredientMeta":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"SkinTestResultResponse":{"type":"object","description":"내 최신 진단 결과 응답","properties":{"diagnosedAt":{"type":"string","description":"진단 날짜","example":"2026.04.22"},"skinType":{"type":"string","description":"피부 유형명"},"subtitle":{"type":"string","description":"부제"},"summary":{"type":"string","description":"피부 설명"},"concerns":{"type":"array","description":"피부 고민(원형안에 삽입)","items":{"type":"string"}},"subSummary":{"type":"string","description":"피부 고민 설명"},"ingredientMetas":{"type":"array","description":"추천 성분 및 설명","items":{"$ref":"#/components/schemas/IngredientMeta"}}}},"ApiResponseSkinProfileResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/SkinProfileResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"SkinProfileResponse":{"type":"object","properties":{"resultId":{"type":"integer","format":"int64","description":"진단 결과 ID","example":10},"diagnosedAt":{"type":"string","description":"진단 날짜","example":"2026.04.22"},"skinType":{"type":"string","description":"피부 유형명"},"subtitle":{"type":"string","description":"부제"},"summary":{"type":"string","description":"피부 설명"}}},"ApiResponseProductDetailResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/ProductDetailResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"ProductDetailResponse":{"type":"object","description":"제품 상세 조회 응답","properties":{"productId":{"type":"integer","format":"int64","description":"제품 ID","example":1},"name":{"type":"string","description":"제품명","example":"수분 진정 세럼"},"brand":{"type":"string","description":"브랜드명","example":"SKINLAB"},"price":{"type":"integer","format":"int32","description":"상품 가격","example":"12,980"},"imageUrl":{"type":"string","description":"제품 대표 이미지 URL","example":"https://cdn.example.com/product-1.png"},"description":{"type":"string","description":"제품 설명","example":"민감하고 건조한 피부를 위한 진정 보습 세럼입니다."},"createdDate":{"type":"string","description":"상품 등록일 (YYYY-MM-DD)","example":"2026-04-16"},"purchaseUrl":{"type":"string","description":"구매 링크","example":"https://shop.example.com/product/1"}}},"ApiResponseProductSearchResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/ProductSearchResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"ProductSearchResponse":{"type":"object","properties":{"products":{"type":"array","description":"검색 제품 목록","items":{"$ref":"#/components/schemas/ProductSummaryResponse","description":"검색 제품 목록"}},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true},"nextCursor":{"type":"integer","format":"int64","description":"마지막 상품의 ID","example":12}}},"ProductSummaryResponse":{"type":"object","description":"제품 목록 카드 정보","properties":{"productId":{"type":"integer","format":"int64","description":"제품 ID","example":1},"name":{"type":"string","description":"제품명","example":"수분 토너"},"price":{"type":"integer","format":"int32","description":"가격 (원)","example":21000},"imageUrl":{"type":"string","description":"제품 이미지 URL","example":"https://cdn.example.com/product.png"}}},"ApiResponseProductListResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/ProductListResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"ProductListResponse":{"type":"object","description":"추천 제품 조회 응답","properties":{"products":{"type":"array","description":"추천 제품 목록","items":{"$ref":"#/components/schemas/ProductSummaryResponse","description":"추천 제품 목록"}},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부","example":true},"nextCursor":{"type":"integer","format":"int64","description":"마지막 상품의 ID","example":12}}},"ApiResponseCurrentUserResponse":{"type":"object","description":"공통 API 응답","properties":{"success":{"type":"boolean","description":"요청 성공 여부","example":true},"data":{"$ref":"#/components/schemas/CurrentUserResponse","description":"성공 시 응답 데이터"},"error":{"$ref":"#/components/schemas/ErrorResult","description":"실패 시 에러 정보"}}},"CurrentUserResponse":{"type":"object","description":"현재 사용자 응답 정보","properties":{"userId":{"type":"integer","format":"int64","description":"사용자 ID","example":1},"nickname":{"type":"string","description":"닉네임","example":"skinlover"},"role":{"type":"string","description":"권한","example":"USER"},"profileImageUrl":{"type":"string","description":"프로필 이미지 URL","example":"https://cdn.example.com/profile.png"}}}}}}